/*
 * styles.css
 * ----------
 *
 * Contents:
 *   1. GLOBAL
 *   2. HEADER
 *   3. SECTIONS
 *     i) FLAGSHIP
 *     ii) FEATURED WORK
 *   4. MEDIA QUERIES
 *
 * Nick Burns
 * Feb 2018
*/

/* ---- >>> GLOBAL <<< ----*/
body {
  padding-top: 80px;
  margin: 0 5%;
  font-family: "Open Sans", sans-serif;
  color: #2d3c49;
}

/* ---- >>> HEADER <<< ----*/
.page_header {
  display: flex;
  justify-content: space-between; /* placement of logo and titles */
  width: 100%;
  height: 110px;
}

hr {
  border-top: 2px solid #7d97ad;
}

.header_title {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* titles don't overlap with the hr */
  font-weight: normal;
  text-align: right;
}

.logo {
  width: 98px;
  height: 86px;
}

/* ---- >>> SECTIONS <<< ----*/
.section_header {
  color: #7d97ad;
  font-weight: normal;
  text-align: left;
}

/* ---- FLAGSHIP ----*/
.flagship_image {
  width: 100%;
  height: auto;
  order: 1;
}

/* ---- FEATURED WORK ----*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.featured_work {
  order: 2;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.featured_image {
  height: auto;
  min-width: 110px;
  max-height: 110px;
}

/* ---- >>> MEDIA QUERIES <<< ----*/
/*
   Breakpoints:
     default: 451 - 1119px
     1. < 450px, redce logo size and font size
     2. > 1120px: increase margin and adjust layout
*/
@media screen and (max-width: 450px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .logo {
    width: 86px;
    height: 72px;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    margin: 0 10%;
  }

  .flagship {
    max-width: 60%;
    order: 2;
  }

  .featured_work {
    order: 1;
    max-width: 40%;
  }

  .featured {
    flex-direction: column;
  }
}
